<!DOCTYPE html>
<html lang="en" ng-app="addicted">
<head>
    <meta charset="UTF-8">
    <title>Чятик</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <style>
        .link-this:hover {
            cursor: pointer;
            color: red;
        }

        /*html, body {*/
            /*max-width: 100% !important;*/
            /*overflow-x: hidden !important;*/
        /*}*/
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: #f5f5f5;
        }

        main {
            flex: 1 0 auto;
        }
        .img-responsive {
            max-width: 90%;
        }
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }

    </style>
</head>
<body>
<chat></chat>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.4/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<script>

</script>

<script>
    angular.module('addicted', ['ngSanitize', 'ngCookies', 'ui.router'])
        .config(function ($stateProvider, $urlRouterProvider) {
            $urlRouterProvider.otherwise('/index');
            $stateProvider
                .state('nicks', {
                    url: '/nicks',
                    templateUrl:"nicks.html"
                })
                .state('log', {
                    url:'/log',
                    templateUrl: 'log.html'
                })
                .state('game', {
                    url: '/game',
                    template: "<div style='border: solid 1px #666666; min-width: 500px; min-height: 500px; margin-bottom: 5px'>" +
                    "<canvas id='#renderCanvas'></canvas>" +
                    "</div>"
                })
        })

        .service('Session', function ($interval) {
            $interval(function(){
                console.log('Test!')
            },50000)
        })

        .directive('chat', function (socket, $sce, $timeout, $cookies, $window, Session) {
            return {
                transclude: true,
                templateUrl: 'chat.html',
                link: function (scope, elem, attrs) {
                    var myNick = undefined;
                    scope.entered = false;
                    socket.init('http://192.168.88.13:8000'); //init url
                    scope.enterToChat = function (nick, chk) {
                        if(chk){
                            $cookies.put('user', nick);
                        }
                        myNick = nick;
                        scope._myNick = myNick;
                        scope.entered = true;
                        socket.emit('hello', { nick: nick })
                    };
                    if($cookies.get('user')){
                        var user = $cookies.get('user');
                        scope.enterToChat(user, null);

                    }


                    scope.attack = function (user) {
                      socket.emit('attack', {user: user, by: myNick})
                    };

                    scope.vote = function (item, index) {
                      socket.emit('vote:post', {item: item.data, index: index});
                        console.log((index + 1) + " " +item.data)
                    };

                    socket.on('server:voted', function (index) {
                        if(!scope.messages[index.index].mark){
                            scope.messages[index.index].mark = 0;
                        }
                        scope.messages[index.index].mark++;
                    });

                    socket.on('server:attack', function (data) {

                        console.log('Ники '+ myNick + ' ' + data.user);
                        const by = data.by;
                       if(myNick === data.user){
                         angular.element(document.querySelector('#faggot')).append("<h1>"+ by +" пнул тебя с чата!</h1>");
                         $timeout(function () {
                             angular.element(document.querySelector('#faggot')).html('');
                             $window.location.reload();
                             $cookies.remove('user');
                         }, 2000);


                       }
                    });


                    scope.forgiveMe = function () {
                      $cookies.remove('user');
                      $window.location.reload();
                    };
                    var keying = '';
                    socket.on('server:keying', function (data) {
                        scope.keying = 'Пользователь ' + data.nick + ' ' + data.action;
                        $timeout(function () {
                            scope.keying = '';
                        }, 1000)
                    });

                    angular.element(document.querySelector('#message_body'))
                        .bind('keydown keypress', function (event) {
                            socket.emit('keying', {nick: myNick})
                        });
                    const scroll = function () {
                        return $timeout(function() {
                            var scroller = document.getElementById("chatDiv");
                            scroller.scrollTop = scroller.scrollHeight;
                        }, 0, false);
                    };

                    scope.backed = false;
                    scope.back = function () {
                        console.log('Emitting back!');
                      socket.emit('hello:back', {});
                      scope.backed = true;
                    };



                    socket.on('server:back', function (back) {
                        scope.messages = [];
                        for(var i = 0; i < back.listof.length; i++) {
                            scope.messages.push(back.listof[i])
                        }

                    });


                    socket.on('server:stored-messages',function (data) {
                        console.log(data);
                        for(var i =0; i < data.listof.length; i++){
                            scope.messages.push(data.listof[i])
                        }
                        scroll();
                    });
                    scope.users = undefined;
                    socket.on('hello:error', function (data) {
                        alert(data.data);
                        scope.entered = false;
                    });
                    socket.on('server:hello', function (users) {
                        console.log(users);
                        scope.users = users.users;
                    });



                    scope.remove_post = function (post, index) {
                        console.log('Удаляем пост ' + post);
                        socket.emit('remove_post', {
                            nick: post.nick,
                            data: post.data,
                            date: post.date,
                            mark: post.mark,

                            index: index
                        })
                    };

                    socket.on('server:remove_post', function (data) {

                        console.log('Удаляем элемент с индексом ' + data.index);
                            scope.messages.splice(data.index,1);
                    });





                    scope.messages = [];
                    var options = {
                        era: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        weekday: 'long',
                        timezone: 'UTC',
                        hour: 'numeric',
                        minute: 'numeric',
                        second: 'numeric'
                    };
                    scope.nicks = [];
                    socket.on('server:nicks', function (data) {
                        scope.nicks = data.nicks;
                    });

                    socket.on('s:mess', function (data) {
                        var date = new Date().toLocaleDateString('ru', options);
                        date = date.substring(date.length-8);
                        data.date = date;
                        scope.messages.push(data);
                        console.log('Общее ' + data);
                        scroll();
                    });
                    socket.on('message',function (data) {
                        var date = new Date().toLocaleDateString('ru', options);
                        date = date.substring(date.length-8);
                        data.date = date;
                        scope.messages.push(data);
                        console.log('Общее ' + data);
                        scroll();

                    });
                    scope.send = function (mess) {
                        var date = new Date().toLocaleDateString('ru', options);
                        date = date.substring(date.length-8);
                        socket.emit('mess', { nick: myNick, data: mess, date:date});
                        scope.i_message = '';
                        scroll();
                    };
                }
            }
        })
        .filter('unsafe', function($sce) {
            return $sce.trustAsHtml; })
        .filter('fuckNick', function () {
            return function (nick) {
                return nick.substring(0,20);
            }
        })
        .factory('socket',function ($rootScope){
            var socket;
            return {
                init: function (url) {
                    socket = io(url);
                },
                on: function (eventName,callback){
                    socket.on(eventName,function(){
                        var args = [].slice.call(arguments);
                        $rootScope.$apply(function(){
                            if(callback){
                                callback.apply(socket,args);
                            }
                        });
                    });
                },
                emit: function (eventName, data, callback){
                    var args = [].slice.call(arguments), cb;
                    if( typeof args[args.length-1]  == "function" ){
                        cb = args[args.length-1];
                        args[args.length-1] = function(){
                            var args = [].slice.call(arguments);
                            $rootScope.$apply(function(){
                                if(cb){
                                    cb.apply(socket,args);
                                }
                            });
                        };
                    }
                    socket.emit.apply(socket, args);
                }
            };
        })
</script>
<script type="text/ng-template" id="chat.html">


<header>
    <div class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content" style="width: 160px !important;">
            <li><a href="#!">В разработке</a></li>
            <li class="divider"></li>
            <li><a href="#!">Не смотри!</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper indigo">

                    <a href="#" class="brand-logo center">
                        <img alt="Brand" src="https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-2/135/_pikachu-32.png" style="margin-top: -5px;">
                        Chat addicted!
                    </a>
                    <ul class="right hide-on-med-and-down">


                        <!--<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Меню<i class="material-icons right">arrow_drop_down</i></a></li>-->
                    </ul>

            </div>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <div style="margin-bottom: 5px">
            <span ng-if="!entered"><blockquote>Войди в чат, чтобы увидеть кто там есть</blockquote></span>
            <span ng-if="entered">Сейчас в чате:</span>
            <span ng-if="entered" ng-repeat="user in users">{{user | fuckNick}}
                <img src="https://cdn1.iconfinder.com/data/icons/pictograms-glyphs-12/48/593-32.png" ng-click="attack(user)" ng-show="_myNick !== user" style="cursor:pointer;"><span ng-if="!$last">,</span>
            <span ng-if="$last">.</span>
        </span>
        </div>

            <div style="margin-bottom: 10px">
                <div  id="chatDiv" class="scrollspy">
                    <div><a ng-click="back()" style="cursor: pointer; text-decoration: none" ng-if="entered" ng-hide="backed">Загрузить предыдущие</a> </div>
                    <div ng-repeat="m in messages"  class="z-depth-1" style="background-color: white ">
                        <div>
                            <div class="white" style="padding: 5px 8px">
                                <span><b>{{m.date}} </b></span><b>Пользователь </b><span class="link-this" ng-click="attack(m.nick)">{{m.nick}}</span><b> написал:</b>
                            </div>
                            <div style="padding: 10px 15px; margin: 10px; ">
                                <div ng-bind-html="m.data | unsafe" ng-class="{'center-align': m.data.indexOf('<img src=') !== -1 || m.data.indexOf('<iframe') !== -1}"></div>
                                <div class="right-align" ng-show="backed">
                                    <span ng-click="remove_post(m, $index)" style="cursor: pointer"><a><i class="material-icons">delete</i> </a></span>
                                    <span ng-click="vote(m, $index)" ng-show="backed" style="cursor: pointer; margin-left: 15px;" >
                                <a><i class="material-icons">favorite</i><span ng-bind="m.mark"></span></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div ng-show="entered">
            <div style="min-height: 2em"><i>{{keying}}</i></div>
            <div id="faggot"></div>
            <div class="row">
                <form name="f" class="col s12">

                    <div class="input-field col s6">
                        <input ng-model="i_message" required id="message_body" size="100" class="validate" placeholder="Сообщение" type="text" maxlength="120" data-length="120">
                    </div>
                    <div class="input-field s6">
                        <input type="submit" ng-click="send(i_message)" value="Отправить!" ng-disabled="f.$invalid || !entered" class="btn" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 10px" ng-show="entered">
        <div class="section  scrollspy" id="nick_history">
            <div class="row">
                <h5>История ников</h5>
                <div class="row" style="padding: 15px 15px">
                    <div ng-repeat="n in nicks" class="chip" ng-bind="n"></div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
        <div class="row scrollspy" id="git_log">
            <h5>Git log</h5>
            <blockquote>
                <h6>Date:   Sun Apr 16 23:29:17 2017</h6>
                <p>initial commit</p>
            </blockquote>
            <blockquote>
                <h6>Date:   Tue Apr 18 17:59:19 2017</h6>
                <p>Redis added</p>
            </blockquote>
            <blockquote>
                <h6>Date:   Tue Apr 18 19:21:54 2017</h6>
                <p>стили, фиксы</p>
            </blockquote>

            <blockquote>
                <h6>Date:   Thu Apr 20 00:44:53 2017</h6>
                <p>куки, промотка</p>
            </blockquote>

            <blockquote>
                <h6>Date:   Thu Apr 20 14:58:00 2017</h6>
                <p>ничего не сделал</p>
            </blockquote>
            <blockquote>
                <h6>Date:   Sun Apr 23 17:51:08 2017</h6>
                <p>preload, likes</p>
            </blockquote>
            <blockquote>
            <h6>Date:   Mon Apr 24 23:17:08 2017</h6>
            <p>materialize css, removed ui-router, nicks history</p>
            </blockquote>
        </div>
    </div>
    </div>

</main>
<ul id="slide-out" class="side-nav fixed z-depth-1">
    <li ng-show="entered" style="min-height: 64px" class="valign-wrapper indigo">

        <a ><span class="name white-text">{{_myNick | limitTo: 30}}</span></a>

    </li>
    <li ng-show="!entered"><a href="#modal1"><i class="material-icons">perm_identity</i>Войти в чат!</a></li>
    <li ng-show="entered"><a ng-disabled="!entered" ng-click="forgiveMe()" style="cursor: pointer">Выйти и забыть!<i class="material-icons right">power_settings_new</i></a></li>


    <li><div class="divider"></div></li>
    <div ng-show="entered">
    <li><a class="waves-effect waves-yellow" href="#chatDiv">Сообщения</a></li>
    <li><a class="waves-effect waves-yellow" href="#nick_history">История ников</a></li>
    <li><a class="waves-effect waves-yellow" href="#git_log">Git log</a></li>
    </div>
</ul>
<div id="modal1" class="modal">
    <div class="modal-content">
        <!--<div class="container">-->
        <!--<div class="row">-->
        <form name="FormReg">
            <div class="input-field row">
                <input ng-model="nick" ng-disabled="entered" class="validate" placeholder="Ваш ник" required type="text">
            </div>

            <div class="right-align">
                <div class="input-field row">
                    <input type="checkbox" ng-disabled="entered || FormReg.$invalid" ng-model="chk" id="remember_me"/>
                    <label for="remember_me">Запомнить меня</label>
                </div>

                <div class="input-field row">
                    <a ng-click="enterToChat(nick, chk)" ng-disabled="entered || FormReg.$invalid" class="btn modal-close" href="#close_modal">Войти</a>
                </div>
            </div>
        </form>
    </div>
</div>
</script>
<script>
    $(document).ready(function(){
        $('#modal1').modal();
        $('input#i_message').characterCounter();
        $('.scrollspy').scrollSpy();
    });
</script>
</body>
</html>