    <header>
        <div class="navbar-fixed">
            <ul id="dropdown1" class="dropdown-content" style="width: 160px !important;">
                <li><a href="#!">В разработке</a></li>
                <li class="divider"></li>
                <li><a href="#!">Не смотри!</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper indigo">
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">

            <div style="margin-bottom: 10px">
                <div  id="chatDiv" class="scrollspy">
                    <div class="section">
                        <a class="btn"
                           ng-click="back()" style="cursor: pointer; text-decoration: none" ng-if="entered" ng-hide="backed">Загрузить предыдущие</a>
                    </div>
                    <div ng-repeat="m in messages"  class="z-depth-1 animate-repeat" style="background-color: white ">
                        <div>
                            <div class="white" style="padding: 5px 8px">
                                <span><b>{{m.date}} </b></span><b>Пользователь </b><span class="link-this" ng-click="attack(m.nick)">{{m.nick}}</span><b> написал:</b>
                            </div>
                            <div style="padding: 10px 15px; margin: 10px; ">
                                <div ng-bind-html="m.data | unsafe" ng-class="{'center-align': m.data.indexOf('<img src=') !== -1 || m.data.indexOf('<iframe') !== -1}"></div>
                                <div class="right-align" ng-show="backed">
                                    <span ng-click="remove_post(m, $index)" style="cursor: pointer"><a><i class="material-icons fix_icons_align">delete</i> </a></span>
                                    <span ng-click="vote(m, $index)" ng-show="backed" style="cursor: pointer; margin-left: 15px;" >
                                <a><i class="material-icons fix_icons_align">thumb_up</i><span ng-bind="m.mark"></span></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="entered">
                <div style="min-height: 2em"><i>{{keying}}</i></div>
                <div id="faggot"></div>
                <div class="row">
                    <form name="f" class="col s12">

                        <div class="input-field col s6">
                            <input ng-model="i_message" required id="message_body" size="100" class="validate" placeholder="Сообщение" type="text" maxlength="120" data-length="120">
                        </div>
                        <div class="input-field s6">
                            <input type="submit" ng-click="send(i_message)" value="Отправить!" ng-disabled="f.$invalid || !entered" class="btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 10px" ng-show="entered">
            <div class="section  scrollspy" id="nick_history">
                <div class="row">
                    <h5>История ников</h5>
                    <div class="row" style="padding: 15px 15px">
                        <div ng-repeat="n in nicks" class="chip animate-repeat" ng-bind="n"></div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="section">
                <div class="row scrollspy" id="git_log">
                    <h5>Git log</h5>
                    <blockquote>
                        <h6>Date:   Sun Apr 16 23:29:17 2017</h6>
                        <p>initial commit</p>
                    </blockquote>
                    <blockquote>
                        <h6>Date:   Tue Apr 18 17:59:19 2017</h6>
                        <p>Redis added</p>
                    </blockquote>
                    <blockquote>
                        <h6>Date:   Tue Apr 18 19:21:54 2017</h6>
                        <p>стили, фиксы</p>
                    </blockquote>
                    <blockquote>
                        <h6>Date:   Thu Apr 20 00:44:53 2017</h6>
                        <p>куки, промотка</p>
                    </blockquote>
                    <blockquote>
                        <h6>Date:   Thu Apr 20 14:58:00 2017</h6>
                        <p>ничего не сделал</p>
                    </blockquote>
                    <blockquote>
                        <h6>Date:   Sun Apr 23 17:51:08 2017</h6>
                        <p>preload, likes</p>
                    </blockquote>
                    <blockquote>
                        <h6>Date:   Mon Apr 24 23:17:08 2017</h6>
                        <p>materialize css, removed ui-router, nicks history</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <!--<div class="container">-->
            <!--<form name="upload_form">-->
                <!--Single Image with validations-->
                <!--<input-->
                        <!--type="file"-->
                        <!--ngf-select-->
                        <!--ng-model="file"-->
                        <!--name="file"-->
                        <!--ngf-pattern="'image/*'"-->
                        <!--accept="image/*"-->
                        <!--ngf-max-size="20MB"-->
                <!--/>-->
                <!--Image thumbnail: <img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>-->
                <!--<i ng-show="upload_form.file.$error.required">*required</i><br>-->
                <!--<i ng-show="upload_form.file.$error.maxSize">File too large-->
                    <!--{{file.size / 1000000|number:1}}MB: max 20M</i>-->
                <!--<button type="submit" ng-click="submit()">submit</button>-->
                <!--<p>{{progress}}-->
            <!--</form>-->
        <!--</div>-->
    </main>
    <ul id="slide-out" class="side-nav fixed z-depth-1">
        <li style="min-height: 64px" class="indigo">
            <a href="#" class="brand-logo valign-wrapper" style="font-size: xx-large; color: white">
                Chat addicted!
            </a>
        </li>
        <li ng-show="entered">
            <a ><span class="name">{{_myNick | limitTo: 30}}</span></a>
        </li>
        <li ng-show="!entered"><a href="#modal1"><i class="material-icons">perm_identity</i>Войти в чат!</a></li>
        <li ng-show="entered"><a ng-disabled="!entered" ng-click="forgiveMe()" style="cursor: pointer">Выйти и забыть!<i class="material-icons right">power_settings_new</i></a></li>
        <li><div class="divider"></div></li>
        <div ng-show="entered">
            <li><a class="waves-effect waves-yellow" href="#chatDiv">Сообщения</a></li>
            <li><a class="waves-effect waves-yellow" href="#nick_history">История ников</a></li>
            <li><a class="waves-effect waves-yellow" href="#git_log">Git log</a></li>
        </div>
        <li ng-show="entered"><div class="divider"></div> </li>
            <div style="margin-bottom: 5px; padding: 13px 32px" class="section">
                <span ng-if="!entered"><blockquote>Войди в чат, чтобы увидеть кто там есть</blockquote></span>
                <div ng-if="entered">Сейчас в чате:</div>
                <div class="chip" ng-if="entered" ng-repeat="user in users">
                    {{user | fuckNick}}
                    <!--<i class="material-icons" ng-show="_myNick !== user" style="cursor:pointer;">clear</i>-->
                </div>
            </div>
    </ul>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <form name="FormReg">
                <div class="input-field row">
                    <input ng-model="nick" ng-disabled="entered" class="validate" placeholder="Ваш ник" required type="text">
                </div>
                <div class="right-align">
                    <div class="input-field row">
                        <input type="checkbox" ng-disabled="entered || FormReg.$invalid" ng-model="chk" id="remember_me"/>
                        <label for="remember_me">Запомнить меня</label>
                    </div>
                    <div class="input-field row">
                        <a ng-click="enterToChat(nick, chk)" ng-disabled="entered || FormReg.$invalid" class="btn modal-close" href="#close_modal">Войти</a>
                    </div>
                </div>
            </form>
        </div>
    </div>